/* Variables */


//Fonts
$text-font-Roboto-Regular: "Roboto-Regular",arial, sans-serif
$text-font-Roboto-Condensed-Regular: "Roboto-Condensed-Regular",arial, sans-serif
$text-font-Roboto-Light: "Roboto-Light",arial, sans-serif

//Colors
$sct-1-leftGrid-color: #e9eae2
$sct-1-rightGrid-color: #7acec3
$sct-2-leftGrid-color: #ebb240
$sct-2-middleGrid-color: #fff
$sct-2-rightGrid-color: #dfe0d9
$sct-2-bottomGrid-color: #f7f7f3
$sct-3-leftGrid-color: #6e7d8a
$sct-3-middleGrid-color: #eaeaea
$sct-4-leftGrid-color: #ff9b6d
$counter-color: #fe7c7c

$btn-menu-main-color: #e9eae2
$btn-list-sct2-hover: #333333


/* Variables */

*::selection 
    
    background-color: #7acec3
    color: #fff

*::-moz-selection 
    
    background-color: #7acec3
    color: #fff

img
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-user-drag: none
    user-drag: none
    -webkit-touch-callout: none


/* Creating a font style for the page named : ' Centry ' is from ==> ' ../Fonts/Roboto ' */
@font-face
    font-family: "Roboto-Regular"
    src: url("../../fonts/roboto/Roboto-Regular.ttf")

@font-face
    font-family: "Roboto-Condensed-Regular"
    src: url("../../fonts/roboto/RobotoCondensed-Regular.ttf")

@font-face
    font-family: "Roboto-Light"
    src: url("../../fonts/roboto/Roboto-Light.ttf")
    
*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 0
    margin: 0

.active
    color: $btn-list-sct2-hover
    
body 
    margin: 0
    font-family: $text-font-Roboto-Regular
    
.clear
    content: ''
    display: table
    clear: both
    
.logo-size
    width: 135px
.right-sideImage-size
    width: 25em
.imageMiddle-size
    width: 17em
.imageRight-size
    width: 14em
.imagebottom-size
    width: 15em
.imageLeftSct3-size
    width: 14em
.imageMiddleSct3-size
    width: 30em
.imageRight3-size
    width: 8em
    
#sct-1
    display: grid
    grid-template-columns: 70% 30%
    
#sct-2
    height: 30em
    /*max-height: 55vh*/
    
#sct-3
    height: 35em
    position: relative
    
#sct-4
    display: grid
    grid-template-columns: 30% 70%
    grid-template-rows: 30em    
    
.leftSide-grid-sct1
    background-color: $sct-1-leftGrid-color
    position: relative
    grid-column: 1
    
.leftSide-grid-sct2
    float: left
    width: 30%
    height: 100%
    overflow: hidden
    background-color: $sct-2-leftGrid-color
    position: relative
    &:before
        content: ""
        position: absolute
        border-bottom: 1px solid #e9eae2
        width: 158%
        transform: rotateZ(-49.5deg)
        left: -116px
        /* transform-origin: -2% 0% */
        bottom: 243px
    
.leftSide-grid-sct4
    overflow: hidden
    background-color: $sct-4-leftGrid-color
    position: relative
    grid-column: 1
    &:before
        content: ""
        position: absolute
        border-bottom: 1px solid #e9eae2
        width: 158%
        transform: rotateZ(-49.5deg)
        left: -116px
        /* transform-origin: -2% 0% */
        bottom: 243px    
    
.middleSide-grid-sct2
    float: left
    width: 40%
    height: 100%
    overflow: hidden
    background-color: $sct-2-middleGrid-color
    position: relative
    
.RightSide-grid-sct2
    float: left
    width: 30%
    height: 70%
    overflow: hidden
    background-color: $sct-2-rightGrid-color
    position: relative 
    
.BottomSide-grid-sct2
    /*float: left*/
    width: 30%
    height: 100%
    overflow: hidden
    background-color: $sct-2-bottomGrid-color
    position: relative
    z-index: 10
    
.leftSide-grid-sct3
    float: left
    width: 20%
    height: 100%
    overflow: hidden
    background-color: $sct-3-leftGrid-color
    position: relative
    border: 1px slid
    
.middleSide-grid-sct3
    float: left
    width: 50%
    height: 100%
    overflow: hidden
    background-color: $sct-3-middleGrid-color
    position: relative
    
.rightSide-grid-sct3
    width: 30%
    height: 40%
    overflow: hidden
    background-color: $sct-2-middleGrid-color
    position: absolute
    display: block
    right: 0
    bottom: 0
    
.rightSide-grid-sct4
    overflow: hidden
    background-color: $sct-3-middleGrid-color
    position: relative
    grid-column: 2    
    
.social-network
    display: inline-block
    position: relative
    top: -4em
    a
        padding: 5px
        font-size: 25px
        color: $sct-1-rightGrid-color
        text-decoration: none
    
.rightSide-grid-sct1
    background-color: $sct-1-rightGrid-color
    position: relative
    grid-column: 2 
    &:before
        content: ""
        position: absolute
        border-bottom: 1px solid #e9eae2
        width: 140%
        transform: rotate(-45deg)
        transform-origin: 0% 0%
        bottom: 0     
    
.container-leftSide-1
    width: 40em
    height: 100%
    margin: 0 auto
    
.container-leftSide2
    width: 20em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 11em
    left: 51px   
    
.container-rightSide-1
    width: 20em
    margin: 0 auto
    text-align: center
    
.container-rightSide2
    width: 20em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 13em
    /* right: 30px */
    text-align: right
    
.container-leftSide4
    width: 20em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 15em
    /* right: 30px */
    text-align: right    
    
.container-middleSide2
    width: 25em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 25px
    /* right: 30px */
    text-align: left
    
.container-topSide2
    width: 21em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 3px
    /* right: 30px */
    text-align: left

.container-bottomSide2-image
    width: 15em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 2em
    /* right: 30px */
    text-align: left 
    
.container-bottomSide2
    width: 20em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 4em
    /* right: 30px */
    text-align: left
    
.container-leftSide3
    width: 12em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 15px
    /* right: 30px */
    text-align: left
    
.container-middleSide3
    width: 23em
    /* height: 100px */
    margin: 0 auto
    position: relative
    top: 6em
    left: 130px
    /* right: 30px */
    text-align: left
    z-index: 12
    
.container-RightSide3
    width: 15em
    /* height: 100px */
    margin: 0 auto
    position: relative
    right: -8em
    text-align: left
    
.left-side-use
    float: left
    margin-top: 30px

.right-side-use
    float: right
    width: 60%
    margin-top: 20px
    
.top-sideUse
    .menu
        padding: 35px 0
        a
            display: block
            border: 2px solid #e9eae2
            padding: 35px 0
            width: 100px
            margin: 0 auto
            color: $btn-menu-main-color
            outline: none
            text-decoration: none
            i
                font-size: 30px
            
.bottom-sideUse
    .desc
        text-align: left
        ul
            list-style: none
            li
                color: $btn-menu-main-color
                font-family: $text-font-Roboto-Condensed-Regular
                font-size: 16px
                line-height: 18px
                cursor: default
                
.sideUse-sct2
    .link
        display: inline-block
        text-align: left
        ul
            list-style: none
            a
                text-decoration: none
                color: $btn-menu-main-color
                position: relative
                &:hover
                    color: $btn-list-sct2-hover
                    &:before
                        opacity: 1
                        color: #fff
                &:before
                    content: '>'
                    position: absolute
                    right: 5px
                    top: -5px
                    opacity: 0
            li
                font-family: $text-font-Roboto-Condensed-Regular
                font-size: 14px
                line-height: 16px
                text-transform: uppercase
                font-weight: 500
    
.titleUse-sct2
    .title
        span
            display: block
            font-family: $text-font-Roboto-Condensed-Regular
            font-size: 3em
            letter-spacing: 2px
            font-weight: 500
            color: $btn-menu-main-color
            text-transform: uppercase
            padding-top: 20px
            cursor: default
            
.middleSideUse-sct2
    .descMiddle
        .title
            span
                display: block
                font-family: $text-font-Roboto-Light
                font-size: 25px
                font-weight: 100
                color: $btn-list-sct2-hover
                text-transform: uppercase
                padding: 20px 0
                cursor: default
        .listMiddle
            ul
                list-style: none
                li
                    line-height: 15px
                    position: relative
                    z-index: 10                 
                    p
                        display: inline-block
                        color: $btn-list-sct2-hover
                        font-family: $text-font-Roboto-Light
                        font-size: 11px
                        font-weight: 900
                        cursor: default
                        text-transform: uppercase
                        padding-right: 5px
                        &:after
                            content: ":"
                    span
                        color: $btn-list-sct2-hover
                        font-family: $text-font-Roboto-Light
                        font-size: 13px
                        font-weight: 500
                        cursor: default
                        text-transform: uppercase
        .imageMiddle
            position: absolute
            top: -30px
            right: -64px
            
        .linkSocialmiddle
            position: relative
            top: 4em
            .link
                color: $btn-list-sct2-hover
                font-family: $text-font-Roboto-Light
                font-size: 16px
                text-transform: uppercase
                font-weight: 500
                a
                    display: inline-block                    
                    text-decoration: none
                    color: $btn-list-sct2-hover
                    position: relative
                    &:hover
                        &:before
                            opacity: 1
                            color: $sct-2-leftGrid-color
                    &:before
                        content: '>'
                        position: absolute
                        left: -15px
                        top: -2px
                        opacity: 0
            .social
                position: relative
                top: 5.5em
                left: 3em
                a
                    text-decoration: none
                    font-size: 20px
                    color: $btn-list-sct2-hover
                    padding: 10px
                .counter
                    position: relative
                    left: -5px
                    span
                        color: red
                        font-family: $text-font-Roboto-Light

    
.rightSideUse-sct2
    .descRight
        .title
            span
                display: block
                font-family: $text-font-Roboto-Light
                font-size: 25px
                font-weight: 100
                color: $btn-list-sct2-hover
                text-transform: uppercase
                padding: 20px 0
                cursor: default
        .textRight
            width: 13em
            font-family: $text-font-Roboto-Light
            font-size: 13px
            position: relative
            z-index: 10
            line-height: 17px
            p
                text-transform: uppercase
            span
                font-weight: 600
                text-transform: uppercase
        .imageRight
            position: absolute
            top: 6em
            right: -20px
        .linkSocialright
            position: relative
            top: 20px            
            .link
                color: $btn-list-sct2-hover
                font-family: $text-font-Roboto-Light
                font-size: 16px
                text-transform: uppercase
                font-weight: 500
                a
                    display: inline-block                    
                    text-decoration: none
                    color: $btn-list-sct2-hover
                    position: relative
                    &:hover
                        &:before
                            opacity: 1
                            color: $sct-2-leftGrid-color
                    &:before
                        content: '>'
                        position: absolute
                        left: -15px
                        top: -2px
                        opacity: 0                    
            .social
                position: relative
                top: 20px
                left: 3em
                a
                    text-decoration: none
                    font-size: 20px
                    color: $btn-list-sct2-hover
                    padding: 10px
                .counter
                    position: relative
                    left: -5px
                    span
                        color: red
                        font-family: $text-font-Roboto-Light    
    
.descBottom
    .listBottom
        ul
            list-style: none
            display: inline-block
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                span
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase
                    
    .linkSocialbottom
        position: relative
        .link
            color: $btn-list-sct2-hover
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            display: inline-block            
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-list-sct2-hover
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
        .social
            position: relative
            left: 10em
            top: -2em
            display: inline-block
            a
                text-decoration: none
                font-size: 20px
                color: $btn-list-sct2-hover
                padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: red
                    font-family: $text-font-Roboto-Light
                    
                    
.leftSideUse-sct3
    .title
        span
            display: block
            font-family: $text-font-Roboto-Light
            font-size: 25px
            font-weight: 500
            color: $btn-menu-main-color
            text-transform: uppercase
            padding-top: 20px
            cursor: default
    .listLeft
        ul
            list-style: none
            padding-top: 15px
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-menu-main-color
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                span
                    color: $btn-menu-main-color
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase 
    .linkSocialLeft
        position: relative
        top: 20px
        z-index: 11
        .link
            color: $btn-menu-main-color
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-menu-main-color
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
        .social
            position: relative
            top: 20px
            left: 3em
            a
                text-decoration: none
                font-size: 20px
                color: $btn-menu-main-color
                padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: $counter-color
                    font-family: $text-font-Roboto-Light
                    
.leftSideUse-sct3                    
    .descLeft-image
        position: absolute
        top: 15em
        right: -30px

.middleSideUse-sct3
    .imageMiddle-sct3
        position: absolute
        top: 4em
        right: 6em
        
.rightSideUse-sct3        
    .imageRight3
        position: absolute
        top: 3em
        right: 18em        
        
.descMiddle
    .title
        span
            display: inline-block
            font-family: $text-font-Roboto-Light
            font-size: 25px
            font-weight: 500
            color: $btn-list-sct2-hover
            text-transform: uppercase
            padding-bottom: 20px
            cursor: default
            
    .listMiddle
        ul
            list-style: none
            display: inline-block
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                span
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase
                    
    .linkSocialMiddle
        position: relative
        .link
            color: $btn-list-sct2-hover
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            display: inline-block
            position: relative
            left: 15em
            top: -8em
            display: inline-block            
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-list-sct2-hover
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
        .social
            position: relative
            left: 10em
            top: -2em
            display: inline-block
            a
                text-decoration: none
                font-size: 20px
                color: $btn-list-sct2-hover
                padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: red
                    font-family: $text-font-Roboto-Light        
    
.rightSideUse-sct3
    .title
        span
            display: block
            font-family: $text-font-Roboto-Light
            font-size: 25px
            font-weight: 500
            color: $btn-list-sct2-hover
            text-transform: uppercase
            padding-top: 20px
            cursor: default
    .listRight
        ul
            list-style: none
            display: inline-block
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                    
                span
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase
                    
    .linkSocialRight3
        position: relative
        top: 25px
        .link
            color: $btn-list-sct2-hover
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500          
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-list-sct2-hover
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
    .social
        position: relative
        left: 2em
        display: inline-block
        a
            text-decoration: none
            font-size: 20px
            color: $btn-list-sct2-hover
            padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: red
                    font-family: $text-font-Roboto-Light                    
                    
                    
.leftSideUse-sct4
    .title
        span
            display: block
            font-family: $text-font-Roboto-Condensed-Regular
            font-size: 3em
            letter-spacing: 2px
            font-weight: 500
            color: $btn-menu-main-color
            text-transform: uppercase
            padding-top: 20px
            cursor: default    
    
    
    