/* Variables */


//Fonts
$text-font-Roboto-Regular: "Roboto-Regular",arial, sans-serif
$text-font-Roboto-Condensed-Regular: "Roboto-Condensed-Regular",arial, sans-serif
$text-font-Roboto-Light: "Roboto-Light",arial, sans-serif
$text-font-Roboto-italic-Light: "Roboto-italic-Light",arial, sans-serif
$text-font-Roboto-Bold: "Roboto-Bold",arial, sans-serif

//Colors
$sct-1-leftGrid-color: #e9eae2
$sct-1-rightGrid-color: #7acec3
$sct-2-leftGrid-color: #ebb240
$sct-2-middleGrid-color: #fff
$sct-2-rightGrid-color: #dfe0d9
$sct-2-bottomGrid-color: #f7f7f3
$sct-3-leftGrid-color: #6e7d8a
$sct-3-middleGrid-color: #eaeaea
$sct-4-leftGrid-color: #ff9b6d
$counter-color: #fe7c7c

$btn-menu-main-color: #e9eae2
$btn-list-sct2-hover: #333333
$color-carousel-active: #fd5000


/* Variables */

*::selection 
    
    background-color: #7acec3
    color: #fff

*::-moz-selection 
    
    background-color: #7acec3
    color: #fff

img
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-user-drag: none
    user-drag: none
    -webkit-touch-callout: none


/* Creating a font style for the page named : ' Centry ' is from ==> ' ../Fonts/Roboto ' */
@font-face
    font-family: "Roboto-Regular"
    src: url("../../fonts/roboto/Roboto-Regular.ttf")

@font-face
    font-family: "Roboto-Condensed-Regular"
    src: url("../../fonts/roboto/RobotoCondensed-Regular.ttf")

@font-face
    font-family: "Roboto-Light"
    src: url("../../fonts/roboto/Roboto-Light.ttf")

@font-face
    font-family: "Roboto-italic-Light"
    src: url("../../fonts/roboto/RobotoCondensed-Italic.ttf")

@font-face
    font-family: "Roboto-Bold"
    src: url("../../fonts/roboto/RobotoCondensed-Bold.ttf")
    
*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 0
    margin: 0

.actives
    color: $btn-list-sct2-hover
    
body 
    margin: 0
    font-family: $text-font-Roboto-Regular
    
.clear
    content: ''
    display: table
    clear: both
    
a
    text-decoration: none
    
.logo-size
    width: 135px
.right-sideImage-size
    width: 25em
.imageMiddle-size
    width: 16em
.imageRight-size , .imageLeftSct3-size
    width: 14em
.imagebottom-size
    width: 15em
.imageMiddleSct3-size
    width: 25em
.imageRight3-size
    width: 8em
.imagetopSct4-size , .image1-carousel-size
    width: 100%
    
#sct-1
    display: grid
    grid-template-columns: 70% 30%
    
#sct-2
    height: 30em
    /*max-height: 55vh*/
    
#sct-3
    height: 35em
    position: relative
    
#sct-4
    display: grid
    grid-template-columns: 30% 70%
    
#sct-5
    display: grid
    grid-template-columns: 100%
    
#sct-6
    background-color: $sct-3-middleGrid-color    
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 30em    
    
.leftSide-grid-sct1
    background-color: $sct-1-leftGrid-color
    position: relative
    grid-column: 1
    display: flex
    align-items: center
    align-content: center    
    
.leftSide-grid-sct2
    float: left
    width: 30%
    height: 100%
    overflow: hidden
    background-color: $sct-2-leftGrid-color
    position: relative
    &:before
        content: ""
        position: absolute
        border-bottom: 1px solid #e9eae2
        width: 158%
        transform: rotateZ(-49.5deg)
        left: -116px
        /* transform-origin: -2% 0% */
        bottom: 243px
    
.leftSide-grid-sct4
    overflow: hidden
    background-color: $sct-4-leftGrid-color
    position: relative
    grid-column: 1
    &:before
        content: ""
        position: absolute
        border-bottom: 1px solid #e9eae2
        width: 158%
        transform: rotateZ(-49.5deg)
        left: -116px
        /* transform-origin: -2% 0% */
        bottom: 243px
    
.leftSide-grid-sct6
    overflow: hidden
    position: relative
    grid-column: 1    
    
.middleSide-grid-sct2
    float: left
    width: 40%
    height: 100%
    overflow: hidden
    background-color: $sct-2-middleGrid-color
    position: relative
    
.RightSide-grid-sct2
    float: left
    width: 30%
    overflow: hidden
    background-color: $sct-2-rightGrid-color
    position: relative 
    
.BottomSide-grid-sct2
    /*float: left*/
    width: 30%
    height: 100%
    overflow: hidden
    background-color: $sct-2-bottomGrid-color
    position: relative
    z-index: 10
    
.leftSide-grid-sct3
    float: left
    height: 100%
    width: 20%
    overflow: hidden
    background-color: $sct-3-leftGrid-color
    position: relative
    border: 1px slid
    
.middleSide-grid-sct3
    float: left
    width: 50%
    height: 100%
    overflow: hidden
    background-color: $sct-3-middleGrid-color
    position: relative
    
.rightSide-grid-sct3
    width: 30%
    overflow: hidden
    background-color: $sct-2-middleGrid-color
    position: absolute
    display: block
    right: 0
    bottom: 0
    
.rightSide-grid-sct4
    overflow: hidden
    background-color: $sct-3-middleGrid-color
    position: relative
    grid-column: 2
    display: flex
    align-items: center
    align-content: center   
    
.social-network
    display: inline-block
    position: relative
    top: -4em
    a
        padding: 5px
        font-size: 25px
        color: $sct-1-rightGrid-color
        text-decoration: none
    
.rightSide-grid-sct1
    background-color: $sct-1-rightGrid-color
    position: relative
    grid-column: 2 
    &:before
        content: ""
        position: absolute
        border-bottom: 1px solid #e9eae2
        width: 140%
        transform: rotate(-45deg)
        transform-origin: 0% 0%
        bottom: 0
    
.rightSide-grid-sct6
    overflow: hidden
    padding: 5em
    grid-column: 2
    display: flex
    -o--webkit-display: flex
    -ms-display: flex
    -moz-display: flex
    -webkit-display: flex
    align-items: center
    align-content: center    
    
.leftSide-grid-sct5
    overflow: hidden
    background-color: $sct-3-middleGrid-color
    position: relative
    padding: 3em 0
    
.container-leftSide-1
    width: 70%
    height: 100%
    margin: 0 auto
    
.container-leftSide2
    width: 20em
    margin: 0 auto
    margin-top: 195px
    margin-bottom: 195px 
    
.container-rightSide-1
    width: 75%
    margin: 0 auto
    padding: 7em 0
    text-align: center
    
.container-leftSide4
    width: 20em
    margin: 0 auto
    margin-top: 195px
    margin-bottom: 195px
    text-align: right  
    
.container-middleSide2
    width: 33em
    /* height: 100px */
    margin: 0 auto
    overflow: hidden
    text-align: left
    
.container-topSide2
    width: 25em
    /* height: 100px */
    margin: 0 auto
    text-align: left
    margin-top: 2em
    margin-bottom: 2em    

.container-bottomSide2-image
    width: 15em
    margin: 0 auto    
    margin-top: 40px
    margin-bottom: 40px
    text-align: left 
    
.container-leftSide3
    width: 12em
    /* height: 100px */
    margin: 0 auto
    margin-top: 15px
    /* right: 30px */
    text-align: left
    
.container-middleSide3
    width: 50%
    /* height: 100px */
    margin: 0 auto
    padding: 2em
    text-align: left
    z-index: 12
    
.container-RightSide3
    width: 21em
    margin: 0 auto
    text-align: left
    padding: 2em 0
    overflow: hidden
    
.container-rightSide4
    width: 75%
    padding: 4em 0
    margin: 0 auto
    text-align: left
    
.container-Side5
    width: 85%
    /* height: 100px */
    margin: 0 auto
    text-align: left
    overflow: hidden
    display: grid
    grid-template-columns: 30% 70%
    
.container-rightSide6
    width: 100%
    margin: 0 auto
    
.left-side-use
    float: left
    margin-top: 30px

.right-side-use
    float: right
    width: 60%
    margin-top: 20px  
    
.menuNav
    visibility: hidden
    position: absolute
    top: 0
    right: 11em
    z-index: 1
    background-color: #ebb240
    width: 40em
    opacity: 0
    transition: all .2s ease-out     
    
    .itemMenu
        ul
            overflow: hidden
            list-style: none
            a
                display: inline-block
                text-decoration: none
                li
                    padding: 36.5px
                    color: $btn-menu-main-color
                    font-family: $text-font-Roboto-Condensed-Regular
                    text-transform: uppercase
    
.toggleStyle
    opacity: 1
    width: 45em
    transition: all .2s ease-out     
    visibility: visible
    
.changeBack
    background-color: $sct-2-leftGrid-color
    border: 2px solid $sct-2-leftGrid-color !important
    
.top-sideUse
    position: relative
    top: -4em
    .menuBar
        display: inline-block
        border: 2px solid #e9eae2
        margin: 0 auto
        color: $btn-menu-main-color
        outline: none
        text-decoration: none
        .humburger 
            padding: 45px
            position: relative
            margin: 0 auto
            cursor: pointer
            z-index: 1
        .l1, .l2, .l3 
            position: absolute
            display: block
            margin: auto
            top: 48%
            left: 25%
            height: 3px
            width: 50%
            background-color: $btn-menu-main-color
            transition: all .2s ease-out
            border-radius: 8px
            &:first-child
                top: 40%
            &:last-child
                top: 55%
        .activate
            .l1
                transform: rotate(45deg)
                top: 48%
            .l2
                opacity: 0
            .l3
                transform: rotate(-45deg)
                top: 48%                        
.bottom-sideUse
    position: relative
    top: -2em
    
    .desc
        text-align: left
        ul
            list-style: none
            li
                color: $btn-menu-main-color
                font-family: $text-font-Roboto-Condensed-Regular
                font-size: 15px
                line-height: 15px
                cursor: default         
                
.sideUse-sct2
    display: inline-block
    position: relative
    top: -2em
    left: 4em    
    .link
        display: inline-block
        text-align: left
        ul
            list-style: none
            a
                text-decoration: none
                color: $btn-menu-main-color
                position: relative
                &:hover
                    color: $btn-list-sct2-hover
                    &:before
                        opacity: 1
                        color: #fff
                &:before
                    content: '>'
                    position: absolute
                    right: 5px
                    top: -5px
                    opacity: 0
            li
                font-family: $text-font-Roboto-Condensed-Regular
                font-size: 14px
                line-height: 16px
                text-transform: uppercase
                font-weight: 500
    
.titleUse-sct2
    display: inline-block
    position: relative
    top: 4em
    left: 3em
    .title
        span
            display: block
            font-family: $text-font-Roboto-Condensed-Regular
            font-size: 3em
            letter-spacing: 2px
            font-weight: 500
            color: $btn-menu-main-color
            text-transform: uppercase
            padding-top: 20px
            cursor: default
            
.middleSideUse-sct2
    .descMiddle
        float: left
        position: relative
        left: 5em
        .title
            span
                display: block
                font-family: $text-font-Roboto-Light
                font-size: 25px
                font-weight: 100
                color: $btn-list-sct2-hover
                text-transform: uppercase
                padding: 20px 0
                cursor: default
        .listMiddle
            ul
                list-style: none
                li
                    line-height: 15px
                    position: relative
                    z-index: 10                 
                    p
                        display: inline-block
                        color: $btn-list-sct2-hover
                        font-family: $text-font-Roboto-Light
                        font-size: 11px
                        font-weight: 900
                        cursor: default
                        text-transform: uppercase
                        padding-right: 5px
                        &:after
                            content: ":"
                    span
                        color: $btn-list-sct2-hover
                        font-family: $text-font-Roboto-Light
                        font-size: 13px
                        font-weight: 500
                        cursor: default
                        text-transform: uppercase
            
        .linkSocialmiddle
            margin-top: 5em
            .link
                color: $btn-list-sct2-hover
                font-family: $text-font-Roboto-Light
                font-size: 16px
                text-transform: uppercase
                font-weight: 500
                a
                    display: inline-block                    
                    text-decoration: none
                    color: $btn-list-sct2-hover
                    position: relative
                    &:hover
                        &:before
                            opacity: 1
                            color: $sct-2-leftGrid-color
                    &:before
                        content: '>'
                        position: absolute
                        left: -15px
                        top: -2px
                        opacity: 0
            .social
                margin-top: 5em
                margin-left: 2em
                a
                    text-decoration: none
                    font-size: 20px
                    color: $btn-list-sct2-hover
                    padding: 10px
                .counter
                    position: relative
                    left: -5px
                    span
                        color: red
                        font-family: $text-font-Roboto-Light
    .imageMiddle
        float: right
    
.rightSideUse-sct2
    .descRight
        float: left
        position: relative
        left: 2em
        .title
            span
                display: block
                font-family: $text-font-Roboto-Light
                font-size: 25px
                font-weight: 100
                color: $btn-list-sct2-hover
                text-transform: uppercase
                padding: 0 0 20px 0
                cursor: default
        .textRight
            width: 13em
            font-family: $text-font-Roboto-Light
            font-size: 13px
            position: relative
            z-index: 10
            line-height: 17px
            p
                text-transform: uppercase
            span
                font-weight: 600
                text-transform: uppercase
        .linkSocialright
            margin-top: 25px
            .link
                color: $btn-list-sct2-hover
                font-family: $text-font-Roboto-Light
                font-size: 16px
                text-transform: uppercase
                font-weight: 500
                a
                    display: inline-block                    
                    text-decoration: none
                    color: $btn-list-sct2-hover
                    position: relative
                    &:hover
                        &:before
                            opacity: 1
                            color: $sct-2-leftGrid-color
                    &:before
                        content: '>'
                        position: absolute
                        left: -15px
                        top: -2px
                        opacity: 0                    
            .social
                margin-left: 2em
                a
                    text-decoration: none
                    font-size: 20px
                    color: $btn-list-sct2-hover
                    padding: 10px
                .counter
                    position: relative
                    left: -5px
                    span
                        color: red
                        font-family: $text-font-Roboto-Light
                        
    .imageRight
        float: right
        position: relative
        top: 3em
    
.descBottom
    .listBottom
        ul
            list-style: none
            display: inline-block
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                span
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase
                    
    .linkSocialbottom
        position: relative
        .link
            color: $btn-list-sct2-hover
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            display: inline-block            
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-list-sct2-hover
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
        .social
            position: relative
            left: 10em
            top: -2em
            display: inline-block
            a
                text-decoration: none
                font-size: 20px
                color: $btn-list-sct2-hover
                padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: red
                    font-family: $text-font-Roboto-Light
                    
                    
.leftSideUse-sct3
    .title
        span
            display: block
            font-family: $text-font-Roboto-Light
            font-size: 25px
            font-weight: 500
            color: $btn-menu-main-color
            text-transform: uppercase
            padding-top: 20px
            cursor: default
    .listLeft
        ul
            list-style: none
            padding-top: 15px
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-menu-main-color
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                span
                    color: $btn-menu-main-color
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase 
    .linkSocialLeft
        position: relative
        top: 20px
        z-index: 11
        .link
            color: $btn-menu-main-color
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-menu-main-color
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
        .social
            position: relative
            top: 20px
            left: 3em
            a
                text-decoration: none
                font-size: 20px
                color: $btn-menu-main-color
                padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: $counter-color
                    font-family: $text-font-Roboto-Light
                    
.leftSideUse-sct3                    
    .descLeft-image
        position: relative
        top: 1em
        right: 0

.middleSideUse-sct3
    .descMiddle
        position: relative
        top: 4em
        left: 3em
    .descMiddle-image
        .imageMiddle-sct3
            position: relative
            top: 0
            right: 8em
        
.rightSideUse-sct3        
    .imageRight3
        float: left
        position: relative
        top: 25px
    .contentRight3
        float: right
        
.descMiddle
    .title
        span
            display: inline-block
            font-family: $text-font-Roboto-Light
            font-size: 25px
            font-weight: 500
            color: $btn-list-sct2-hover
            text-transform: uppercase
            padding-bottom: 20px
            cursor: default
            
    .listMiddle
        ul
            list-style: none
            display: inline-block
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                span
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase
                    
    .linkSocialMiddle
        position: relative
        .link
            color: $btn-list-sct2-hover
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            display: inline-block
            position: relative
            left: 15em
            top: -8em
            display: inline-block            
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-list-sct2-hover
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
        .social
            position: relative
            left: 10em
            top: -2em
            display: inline-block
            a
                text-decoration: none
                font-size: 20px
                color: $btn-list-sct2-hover
                padding: 10px
            .counter
                position: relative
                left: -5px
                span
                    color: red
                    font-family: $text-font-Roboto-Light        
    
.rightSideUse-sct3
    .title
        span
            display: block
            font-family: $text-font-Roboto-Light
            font-size: 25px
            font-weight: 500
            color: $btn-list-sct2-hover
            text-transform: uppercase
            padding-top: 20px
            cursor: default
    .listRight
        ul
            list-style: none
            display: inline-block
            li
                line-height: 15px
                position: relative
                z-index: 10                 
                p
                    display: inline-block
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 11px
                    font-weight: 900
                    cursor: default
                    text-transform: uppercase
                    padding-right: 5px
                    &:after
                        content: ":"
                    
                span
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Light
                    font-size: 13px
                    font-weight: 500
                    cursor: default
                    text-transform: uppercase
                    
    .linkSocialRight3
        padding: 25px 0 0
        .link
            color: $btn-list-sct2-hover
            font-family: $text-font-Roboto-Light
            font-size: 16px
            text-transform: uppercase
            font-weight: 500          
            a
                display: inline-block                    
                text-decoration: none
                color: $btn-list-sct2-hover
                position: relative
                &:hover
                    &:before
                        opacity: 1
                        color: $sct-2-leftGrid-color
                
                &:before
                    content: '>'
                    position: absolute
                    left: -15px
                    top: -2px
                    opacity: 0                
    .social
        position: relative
        left: 2em
        display: inline-block
        a
            text-decoration: none
            font-size: 20px
            color: $btn-list-sct2-hover
            padding: 10px
        .counter
            position: relative
            left: -5px
            span
                color: red
                font-family: $text-font-Roboto-Light                    
                    
                    
.leftSideUse-sct4
    .title
        span
            display: block
            font-family: $text-font-Roboto-Condensed-Regular
            font-size: 3em
            letter-spacing: 2px
            font-weight: 500
            color: $btn-menu-main-color
            text-transform: uppercase
            padding-top: 20px
            cursor: default
            
.rightSideUse-sct4
    .descLeft
        float: left
        width: 20em
        line-height: 22px
        color: $btn-list-sct2-hover
        .para1
            margin-bottom: 25px
            font-family: $text-font-Roboto-italic-Light
            font-size: 16px
            font-weight: 700
            p
                &:first-child
                    margin-bottom: 25px
                
        .para2
            margin-bottom: 25px
            font-family: $text-font-Roboto-Condensed-Regular
            font-size: 16px
            font-weight: 100
            p
                &:first-child
                    margin-bottom: 25px
            
            
.rightSideUse-sct4
    .descRight
        float: right
        width: 20em
        .topImage
            width: 20em
            margin-bottom: 20px            
        .bottomList
            .title
                font-family: $text-font-Roboto-Bold
                text-transform: uppercase
                color: $btn-list-sct2-hover
                border-bottom: 1px solid #bfc0b9
                padding-bottom: 5px
            .list
                ul
                    list-style: none
                    display: inline-block
                    line-height: 20px
                    padding-bottom: 10px
                    &:first-child                    
                        margin-right: 3em
                    li
                        font-family: $text-font-Roboto-Condensed-Regular
                        font-size: 16px
                        text-transform: capitalize

.sideUseRight-sct5
    grid-column: 2
    
.sideUseLeft-sct5
    grid-column: 1
    .title
        font-family: $text-font-Roboto-Condensed-Regular
        font-size: 25px
        text-transform: uppercase
        color: $btn-list-sct2-hover
        padding-bottom: 20px
    .desc
        font-family: $text-font-Roboto-Light
        font-size: 16px
        line-height: 22px
        color: $btn-list-sct2-hover
        .para1
            margin-bottom: 25px
            font-size: 16px
            p
                &:first-child
                    margin-bottom: 25px      
    
            
.owl-theme
    .owl-dots
        .owl-dot
            outline: none
            span
                background-color: transparent
                border: 2px solid $color-carousel-active
                
.owl-theme
    .owl-dots
        .owl-dot
            outline: none
            &:hover
                span
                    background-color: $color-carousel-active !important              
        .active
            span
                background-color: $color-carousel-active !important
                
.owl-dots
    margin-top: 2em !important
            
.item            
    .carousel-section-work
        .carousel-work-image
            background-position: center
            background-color: #fff
            overflow: hidden
            width: 100%
            text-align: center
            height: 8em
            display: flex
            align-items: center
            justify-content: center
        .carousel-work-desc
            padding-top: 25px
            line-height: 18px
            p
                text-transform: uppercase
                font-size: 16px
                &:first-child
                    font-family: $text-font-Roboto-Bold
                &:last-child
                    font-family: $text-font-Roboto-Condensed-Regular
                
        .carousel-work-social
            .left-social
                float: left
                display: inline-block
                position: relative
                a
                    display: block
                    text-decoration: none
                    font-family: $text-font-Roboto-Light
                    color: $color-carousel-active
                    font-size: 25px
                    &:hover
                        &:after
                            opacity: 1
                            color: $sct-2-leftGrid-color

                    &:after
                        content: '<'
                        position: absolute
                        right: -20px
                        top: 0
                        opacity: 0
                
            .right-social
                float: right
                display: inline-block
                position: relative
                top: 10px
                a
                    text-decoration: none
                    color: $color-carousel-active
                    font-size: 18px
                    padding: 0 10px
                
#map
    position: static !important
    
.sideUse-sct6
    .leftSide-desc
        float: left
        width: 10em
        .desc
            text-align: left
            ul
                list-style: none
                li
                    color: $btn-list-sct2-hover
                    font-family: $text-font-Roboto-Condensed-Regular
                    font-size: 15px
                    line-height: 15px
                    cursor: default             
    .rightSide-logo
        float: right
        width: 10em    
                
/*   Starting media Queries : Responsive Design */




@media screen and (max-width: 1024px)
    .right-sideImage-size
        width: 20em
    .logo-size
        width: 120px
    .right-side-use
        float: right
        width: 60%
        margin-top: 45px
    .left-side-use
        margin-top: 45px
    .container-leftSide-1
        width: 75%
    .container-leftSide3
        width: 25%
    .social-network
        top: -3em
    .social-network
        a
            padding: 7px
            font-size: 20px
    .top-sideUse
        .menuBar
            .humburger        
                padding: 30px
    .menuNav
        .itemMenu
            ul
                a
                    li
                        padding: 26.5px
                        
    .rightSide-grid-sct1:before ,
    .leftSide-grid-sct2:before ,
    .leftSide-grid-sct4:before
        content: none
                        
    #sct-2 ,
    #sct-3
        height: auto
    .leftSide-grid-sct2 ,
    .middleSide-grid-sct2 ,
    .RightSide-grid-sct2 ,
    .BottomSide-grid-sct2 ,
    .leftSide-grid-sct3 ,
    .middleSide-grid-sct3 ,
    .rightSide-grid-sct3
        
        float: none
        width: 100%
        position: static

    #sct-4 ,
    #sct-5 ,
    .container-Side5
        display: block

    .sideUseLeft-sct5
        .desc
            .para1     
                margin-bottom: 50px
                
    .container-topSide2
        width: 33em
    .container-leftSide4
        text-align: center
    .rightSideUse-sct2 .descRight
        left: 5em
        
    .menuNav
        right: 9em
        .itemMenu
            ul
                a
                    li
                        padding: 21px
                        
    
@media screen and (max-width: 856px)
    .rightSideUse-sct4 .descLeft , .rightSideUse-sct4 .descRight
        float: none
        width: auto
    
    .rightSideUse-sct4
        .descRight
            .topImage
                width: 100%
                
    .container-rightSide-1
        width: 100%
        
    .bottom-sideUse
        margin: 0 2em
                
@media screen and (max-width: 768px)
    #sct-1
        grid-template-rows: 70% 30%
    .leftSide-grid-sct1
        grid-row-start: 2
        grid-column-start: span 2
    .rightSide-grid-sct1
        grid-column-start: span 2
    .top-sideUse ,
    .menuNav ,
    .toggleStyle
        position: static
        width: 100%
    .container-rightSide-1
        padding: 0
        
@media screen and (max-width: 425px)
    .menuNav
        position: absolute
    .right-sideImage-size
        width: 19em
    .logo-size
        width: 95px
    .imageMiddle-size
        width: 14em
    .sideUse-sct2
        top: -2em
        left: 0
    .middleSideUse-sct2
        .descMiddle
            left: 2em
    .rightSideUse-sct2
        .descRight
            left: 2em
    .middleSideUse-sct2
        .imageMiddle
            position: relative
            right: 7em
            
    .rightSideUse-sct2
        .imageRight
            right: 7em
            
    .descBottom
        .linkSocialbottom
            .social
                left: 7em
                
    .container-leftSide3
        width: 40%
    .imageMiddleSct3-size
        width: 20em
    .middleSideUse-sct3 
        .descMiddle
            left: -6em
            top: 0
            
    .container-rightSide-1
        margin: 0 auto
        padding: 2em 2em
        text-align: center
                
    .top-sideUse
        position: relative
        top: 0
                    
    .menuNav
        position: absolute
        right: 4.5em
        width: auto
        .itemMenu
            ul
                a
                    display: block
        
    .top-sideUse
        .menuBar
            float: right
            
    .toggleStyle
        width: auto
        
    .bottom-sideUse
        position: static
        
    .left-side-use
        float: none
    .right-side-use
        float: none
        width: auto
        
    .social-network
        display: inline-block
        position: absolute
        top: 3em
        left: 14em
        
    .titleUse-sct2
        left: 2em
        
        
        
        
@media screen and (max-width: 370px)
    .middleSideUse-sct2
        .imageMiddle
            position: relative
            right: 10em
            
    .rightSideUse-sct2
        .descRight
            float: none
        
    .rightSideUse-sct2
        .imageRight
            float: none
            top: 0
            right: -4em
            
    .rightSideUse-sct2
        .descRight
            .textRight
                width: 20em
                
    .middleSideUse-sct3
        .descMiddle-image
            .imageMiddle-sct3
                right: 6em
                
    .descMiddle
        .linkSocialMiddle
            .link
                left: 12em
                
                
    .descMiddle
        .linkSocialMiddle
            .social
                left: 14em
                top: -5em
                
    .container-leftSide2
        width: 11em
    .titleUse-sct2
        left: 0
        
    .right-sideImage-size
        width: 15em
        
    .social-network
        left: 11em
                
        
    .container-middleSide3
        width: 70%
    .imageMiddleSct3-size
        width: 15em
    .middleSideUse-sct3
        .descMiddle-image
            .imageMiddle-sct3
                right: 2em
                
    .middleSideUse-sct3
        .descMiddle
            left: -3em
            z-index: 1
    
    .descMiddle
        .linkSocialMiddle
            .link
                left: 9em
                top: -2em
                
    .descMiddle
        .linkSocialMiddle
            .social
                left: 4em
                top: 3em
                
    .container-RightSide3
        width: 60%
        
    .rightSideUse-sct3
        .imageRight3
            float: none
            top: 0
            width: 67%
            margin: 0 auto
            
    .rightSideUse-sct3
        .contentRight3
            float: none
            
    .rightSideUse-sct3
        .linkSocialRight3
            position: relative
            left: 3em
            
    .descBottom
        padding-top: 2em
        .linkSocialbottom
            .social
                left: 4em
                
                
        
                
                
                
                
                
                
                
                
